<div class="banner"></div>
<nav class="main-nav-container">
    <div class="container">
        <ul class="main-nav">
            <li>
                <a href=""><i class="fas fa-info"></i></a>
            </li>
            <li>
                <a href=""><i class="fas fa-desktop"></i></a>
            </li>
            <li>
                <a href=""><i class="far fa-caret-square-up"></i></a>
            </li>
            <li>
                <a href=""><i class="far fa-file-alt"></i></a>
            </li>
            <li>
                <a href=""><i class="far fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</nav>
<app-home-component></app-home-component>