<div class="banner"></div>
<nav class="main-nav-container">
    <div class="container">
        <ul class="main-nav">
            <li>
                <a href=""><i class="fab fa-github"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-github"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-github"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-github"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-github"></i></a>
            </li>
        </ul>
    </div>
</nav>
<app-home-component></app-home-component>