.main-section {
    padding: 90px 20px;
}

.about {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about hr {
    border: 0;
    border-top: 1px solid #666;
    width: 50%;
    margin-right: 100%;
}

.about .links li {
    padding: 3px 0px;
}

.about .links a {
    color: #777;
    text-decoration: none;
}

.about .links a:hover {
    color: white;
    text-decoration: none;
}

.about .links li svg{
    margin-right: 10px;
}

.about p {
    color: #ddd;
    text-align: center;
    font-size: 17px;
    line-height: 200%;
}

.portfolio {
    padding-top: 0 !important;
}

.portfolio h1 {
    text-align: center;
}

.portfolio-nav {
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    list-style: none;
    font-size: 0;
}

.portfolio-filter {
    display: flex;
}

.portfolio-filter span {
    font-size: 20px;
    color: #777;
    padding: 0px 5px;
}

.portfolio-filter li {
    border-top: 1px solid #555;
    display: inline-block;
    background: #111;
}

.portfolio-filter li a {
    border-right: 1px solid #555 !important;
    border-left: 1px solid #555 !important;
    display: flex;
    padding: 5px 22px;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.portfolio-container {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
}

.portfolio-container li {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-block {
    text-align: center;
    position: relative;
}

.project-block .title {
    font-size: 36px;
    color: black;
    top: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
}

.project-block img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

.project-overlay {
    width: 400px;
    height: 270px;
    background: rgba(0, 0, 0, .7);
    position: relative;
    z-index: 2;
}

.github {
    background: #303030;
    background-size: cover;
    padding: 1px 0 3px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.github:hover {
    background: #5a0570;
}

.github a {
    outline: 0px !important;
    color: white;
    text-decoration: none;
    font-size: 4.5em;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.github:hover a {
    outline: 0px !important;
    text-decoration: none;
    font-size: 5.5em;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.experience {
    color: black;
}

.experience h1 {
    text-align: center;
}

.experience .college {
    border: 1px solid transparent;
    border-radius: 2px;
}

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline li {
    margin: 5px;
    color: #000 !important;
}

.work {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    width: 100%;
    float: left;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    left: -25px;
    text-align: left;
    width: 100%;
    margin: 0px 0px;
}

.flag-wrapper svg {
    font-size: 3em;
    padding-top: 20px;
    color: grey;
    
}

.flag-wrapper a {
    text-decoration: none;
}

.info {
    font-weight: 500;
    display: inline-block;
    position: relative;
    width: auto;
    white-space: nowrap;
    color: white;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    background: #333;
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
}

.date {
    z-index: -3;
    left: 5px;
}

.flag {
    position: relative;
    display: inline-block;
    background: #BF1531;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: white;
    /* color: rgb(211, 69, 69); */
    border-bottom: solid 1px #aaa;
    border-top: solid 1px #aaa;
}

.flag-wrapper .title {
    right: 5px;
    border-right: solid 1px #aaa;
}

.experience .skills {
    height: auto;
    display: block;
    position: absolute;
    margin: auto auto;
    font-size: 12px;
    line-height: 22px;
}

.experience .skills .skill {
    margin: 10px 2px;
    white-space: nowrap;
    background: #aaa;
    color: black;
    padding: 3px 7px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #222;
}

.experience .skills .language {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background: #777;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.fade-line {
    z-index: -1;
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#777), to(#eee));
}

.skills {
    color: black;
}

.skills h1 {
    text-align: center;
}

.skills .skill-card {
    margin: 10px 10px;
    white-space: nowrap;
    background: #aaa;
    color: black;
    padding: 10px 7px;
    border-radius: 10px;
    background: #aaa;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #222;
}

.skill-card .skillcard {
    margin: 10px 10px;
    white-space: nowrap;
    background: #aaa;
    color: black;
    padding: 3px 7px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid #222;
}

.skill-card .language {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background: #777;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.skills .language {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background: #777;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.fade-bg {
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 50%, rgba(238, 238, 238, 0) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 50%, rgba(238, 238, 238, 0) 100%);
    background: red;
}

.main-section .contact {
    padding: 50px 0 100px;
}

.contact h1 {
    text-align: center;
    color: white; 
    padding-bottom: 50px;  
}

.contact-info-bg {
    background: rgba(0, 0, 0, .7);
    float: left;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
}

.contact-info-box {
    border-radius: 5px;
    width: 425px;
    font-size: 15px;
    margin: 0 0 14px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.contact-info-box h3 {
    font-size: 18px;
    font-weight: 400;
    float: left;
    width: 102px;
    margin-right: 12px;
    line-height: 28px;
    color: #eee;
}

.contact-info-box span {
    color: #eee;
    min-width: 40px;
    float: left;
    font-size: 20px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.contact-info-box a {
    text-decoration: none;
    color: white;
}

.social-links {
    padding: 35px 0;
    margin: 0 0 0 20px;
    display: block;
    overflow: hidden;
    list-style: none;
    float: left;
}

.social-links li {
    float: left;
    margin-right: 8px;
}

.social-links li a {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    background: #222222;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
    border: 1px solid #aaa;
}

textarea {
    resize: none;
 }

 .contact-button {
    width: 200px;
    height: 50px;
    background: #BF1531;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
 }

 .contact-button:hover {
    background: #111;
    color: #fff;
 }

 footer {
    background: #303030;
    padding: 20px 0 20px;
 }