<section class="main-section about charcoal" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-1" style="text-align: center">
                   <p>{{About}}</p>
            </div>
            <div class="col-md-2 right">
                <hr>
                    <ul class="links">
                        <li>
                            <a href="../../assets/Resume.pdf" target="_blank"><i class="far fa-file-pdf"></i> Resume</a>
                        </li>
                        <li>
                            <a href="http://github.com/anthonyvelazquez" target="_blank"><i class="fab fa-github"></i> Github</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/anthonyhvelazquez/" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                        </li>
                    </ul>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class="main-section portfolio charcoal" id="portfolio">
    <div class="">
        <h1>Projects</h1>
        <div class="portfolio-filter container">
            <ul class="portfolio-nav">
                <li>
                    <a data-filter=".app" class="option apps border-left border-right">All</a>
                </li>
                <!-- <span>|</span>
                <li>
                    <a href="#" data-filter=".app" class="option apps border-left border-right">Applications</a>
                </li>
                <li>
                    <a href="#" data-filter=".app" class="option apps border-left border-right">Web Development</a>
                </li>
                <span>|</span>
                <li>
                    <a href="#" data-filter=".app" class="option apps border-left border-right">Applications</a>
                </li> -->
            </ul>
        </div>
        <ul class="portfolio-container">
            <li class="project-block" *ngFor="let project of Projects">
                <a href="{{project.link}}" target="_blank" style="width: 100%;">
                    <h2 class="title">{{project.title1}}<br>{{project.title2}}</h2>
                    <img src="{{project.image}}" alt="" class="project-img">
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="github">
    <a href="http://github.com/anthonyvelazquez"><i class="fab fa-github"></i><h5>Github</h5></a>
</section>
<section class="main-section experience" id="experience">
    <div class="container">
        <h1>Experience</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="experience-list">
                    <h2>Employment</h2>
                    <ul class="timeline">
                        <li>
                            <div class="work">
                                <span class="flag-wrapper">
                                    <a href="http://www.systemongrid.com">
                                        <i class="fas fa-building"></i>
                                    </a>
                                    <span class="info-wrapper">
                                        <span class="info date">
                                            {{Experience1.date}}
                                        </span>
                                        <span class="flag">
                                                <a href="http://www.systemongrid.com" style="color: black;">{{Experience1.name}}</a>
                                        </span>
                                        <span class="info title">
                                            {{Experience1.pos}}
                                        </span>
                                    </span>
                                </span>
                                <ul class="bullets">
                                    <li *ngFor="let desc of Experience1.descs">{{desc}}</li>
                                    <li class="no-bullet">
                                        <div class="skills">
                                            <span class="skill language" *ngFor="let skill of Experience1.skills">{{skill}}</span>
                                            <span> | </span>
                                            <span class="skill" *ngFor="let tool of Experience1.tools">{{tool}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="college right">
                    <h2>Education</h2>
                    <p>
                        William Paterson University <i class="fas fa-graduation-cap"></i><br>
                        Bachelor of Science in Computer Science (BS-CS)<br>
                        Class of 2018
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-section skills" style="padding-top: 0;">
    <div class="container">
        <h1>Skills</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="skill-card">
                    <div class="title" style="text-align: center; color: black;">
                        <h4>Web Development</h4>
                        <hr style="background-color: black">
                    </div>
                    <div class="content">
                        <span class="skillcard language" *ngFor="let skill of WebSkills">{{skill}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skill-card">
                    <div class="title" style="text-align: center; color: black;">
                        <h4>Other Languages and Skills</h4>
                        <hr style="background-color: black">
                    </div>
                    <div class="content">
                        <span class="skillcard language" *ngFor="let skill of OtherSkills">{{skill}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skill-card">
                    <div class="title" style="text-align: center; color: black;">
                        <h4>Development Tools</h4>
                        <hr style="background-color: black">
                    </div>
                    <div class="content">
                        <span class="skillcard language" *ngFor="let skill of ToolEtc">{{skill}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fade-bg charcoal" id="contact">
    <div class="container">
        <section class="main-section contact">
            <h1>Have Any Questions?</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-info-bg">
                        <div class="contact-info-box clearfix">
                            <h3><i class="fas fa-map-marker-alt"></i> Location: </h3>
                            <span>Bergenfield, New Jersey</span>
                        </div>
                        <div class="contact-info-box clearfix">
                            <h3><i class="fas fa-phone"></i> Phone: </h3>
                            <span><a href="tel:201-492-8629">201 - *** - ****</a></span>
                        </div>
                        <div class="contact-info-box clearfix">
                            <h3><i class="fas fa-at"></i> Email: </h3>
                            <span><a href="mailto:anthonyhvelazquez@gmail.com">anthonyhvelazquez@gmail.com</a></span>
                        </div>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/in/anthonyhvelazquez/"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                    <a href="http://github.com/anthonyvelazquez"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <div class="sent_message">Your message has been sent.</div> -->
                    <form action="https://formspree.io/anthonyhvelazquez@gmail.com" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" name="address" placeholder="Message" rows="5"></textarea>
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div style="text-align: left">
                            <button type="submit" class="btn contact-button">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<footer>

</footer>